*.pyc
__pycache__/
dist/
.DS_Store
*.egg-info
build
run-info.txt
plays
*.so
8env_append-still/
8env_append-still-easy/
16env_append-still-easy/
16env_append-still-easy1/
16env_append-still-easy2/
16env_append-still-easy3/
32env_append-still-easy/
32env_append-still-easy1/
32env_append-still-easy2/
32env_append-still-easy3/

buffers/
build/
gcloud/
AUP/
images/
models/
training_runs/
trialthrowaway/

results-10k/
results-nrfn/
results/
results_cache/
results_ppo/
aesults_short/
csv_output/
level_sets/
results-aup-envs/
results-blinky
results-continue-main15M/
results-dqn-mainset/
results-ppo-envs/

